footer {
  background-color: rgba(0,0,0,0.75);
  text-align: center;
}

#block-legacy25-sociallinks {
  font-size: xx-large;
  margin-bottom: 10px;

  a {
    color: $white;
    margin: 0 5px;
    &:hover,
    &:focus {
      color: $primary;
    }
  }
}

#block-legacy25-copyright {
  font-size: small;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

#hyperluminal {
  .text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8px;
    line-height: 1;
    margin-bottom: 10px;
  }
  img {
    width: 90px;
    height: auto;
    margin-bottom: 10px;
  }  
}