#edit-comment-body-0-format {
  display: none;
}

.user-logged-in #edit-comment-body-0-format {
  display: inherit;
}

#comment-form #edit-preview {
  display: none;
}

section[rel~="schema:comment"] article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #3e3e3e;
}

section[rel~="schema:comment"] article:last-child {
  border-bottom: inherit;
  margin-bottom: 75px;
  padding-bottom: 0;
}

section[rel~="schema:comment"] footer,
section[rel~="schema:comment"] h3 {
  display: none;
}

section[rel~="schema:comment"] .field--name-field-comment-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

section[rel~="schema:comment"] .field--name-field-comment-name label {
  text-transform: capitalize;
  letter-spacing: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}


@media screen and (max-width: 499px) {
  section[rel~="schema:comment"] {
    text-align: center;
    font-size: 16px;
    line-height: 22px;    
  }  
}
