.footer {
  background-color: #000000;
  border-top: 1px solid #ececec;
  height: 150px;
}

#block-sociallinks {
  width: 100%;
}

#block-sociallinks .field--name-body {
  text-align: center;
}

#block-sociallinks .field--name-body a,
#block-sociallinks .field--name-body a:visited {
  display: inline-flex;
  color: #fff;
  font-size: 36px;
  line-height: 36px;
  margin: 0 10px 10px 10px;
  text-decoration: none;
}

#block-sociallinks .field--name-body a:hover,
#block-sociallinks .field--name-body a:focus,
#block-sociallinks .field--name-body a:active {
  color: #e5007d;
  text-decoration: none;
}

#sub-footer {
  background-color: #1a1a1a;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px !important;
  line-height: 12px !important;  
  text-align: center;
}

/*
#sub-footer .inner-wrapper {
  width: 100%;
}
*/

#sub-footer .field--name-body {
  font-size: 12px !important;
  line-height: 12px !important;  
  margin-top: 3px;
  margin-bottom: 3px;
}

#sub-footer .col-left  {text-align: left;}
#sub-footer .col-right {text-align: right;}

#sub-footer a.footer-link,
#sub-footer a.footer-link:visited {
  color: #fff;
  text-decoration: none;
}

#sub-footer a.footer-link:hover,
#sub-footer a.footer-link:focus,
#sub-footer a.footer-link:active {
  color: #e5007d;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  #sub-footer .col-left  {text-align: center; margin-bottom: 5px;}
  #sub-footer .col-right {text-align: center;}
}