/*
 * Main menu
 */
 
#bottom-container {
  background-color: #000;
  height: 52px;
}

ul.menu--main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}

ul.menu--main li {
  display: inline-flex;
}

ul.menu--main li a {
  font-family: 'Cinzel', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}

ul.menu--main li a:hover,
ul.menu--main li a.is-active {
  background-color: inherit;
  border-bottom: 3px solid #e5007d;
}

#top-container .nav > li > a.menubar-hide {
  display: none;
}



/*
 * Mobile menu
 */
 
#block-responsivemenumobileicon span.label {
  display: none;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  background: #666;
  left: 10px;
}

a#toggle-icon {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #666;
}

a#toggle-icon:hover {
  border: 1px solid #fff;
  background-color: #e5007d;
}

a#toggle-icon.responsive-menu-toggle-icon:hover:before,
a#toggle-icon.responsive-menu-toggle-icon:hover:after,
a#toggle-icon.responsive-menu-toggle-icon:hover span.icon {
  background: #fff;
}

.responsive-menu-toggle-icon:before     {top: 12px;}
.responsive-menu-toggle-icon span.icon  {top: 18px;}
.responsive-menu-toggle-icon:after      {top: 24px;}

.mm-wrapper_opening .responsive-menu-toggle-icon:before,
.mm-wrapper_opening .responsive-menu-toggle-icon:after {
  top: 18px;
}

@media screen and (max-width: 599px) {
  a#toggle-icon {
    width: 32px;
    height: 32px;
  }
  
  .responsive-menu-toggle-icon:before,
  .responsive-menu-toggle-icon:after,
  .responsive-menu-toggle-icon span.icon {
    height: 2px;
    left: 5px;
  }


  .responsive-menu-toggle-icon:before     {top:  9px;}
  .responsive-menu-toggle-icon span.icon  {top: 14px;}
  .responsive-menu-toggle-icon:after      {top: 19px;}
  
  .mm-wrapper_opening .responsive-menu-toggle-icon:before,
  .mm-wrapper_opening .responsive-menu-toggle-icon:after {
    top: 12px;
  }

  .mm-wrapper_opening .responsive-menu-toggle-icon:before,
  .mm-wrapper_opening .responsive-menu-toggle-icon:after {
    top: 14px;
  }

}

.mm-navbar {
  margin-bottom: 30px;
}

.mm-menu ul.menu--main,
.mm-menu ul.menu--main li {
  display: block;
  float: inherit !important;
}

.mm-listitem::after {
  border-bottom: none;
}

ul.menu--main .mm-listitem a {
  border-bottom: 3px solid #333;
}

ul.menu--main .mm-listitem a:hover,
ul.menu--main .mm-listitem a.is-active {
  border-bottom: 3px solid #e5007d;
}




