/**
 * Webforms
 */

.field--name-webform .form-item {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  border: 1px solid #666;
  background-color: #fff;
  border-radius: 22px; 
  -webkit-border-radius: 22px; 
  -moz-border-radius: 22px;
  box-shadow: inherit;
  color: #1e1e1e;
  font-size: 18px;
  line-height: 18px;
  height: 44px;
  padding: 10px 20px;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #e5007d;
  box-shadow: inherit;
  outline: 0 none;
  background-color: #fff;
  color: #1e1e1e;
}

textarea {
	resize: none;
}

.form-actions .btn {
  width: 180px;
  margin: 25px auto 25px auto;
}



/* Placeholder text */

.form-control::-webkit-input-placeholder	{color: #999;} /* Chrome/Opera/Safari */
.form-control::-moz-placeholder 			    {color: #999;} /* Firefox 19+ */
.form-control:-ms-input-placeholder 		  {color: #999;} /* IE 10+ */
.form-control:-moz-placeholder 				    {color: #999;} /* Firefox 18- */



/* Help text */

.control-group .help-inline,
.help-block {
  color: #333;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 12px 0 12px 0;
}



/* Limit field widths */

/*
.webform-component-email,
.webform-component-select,
.webform-component-textarea {
	max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
*/


